.logo {
  margin: 0 1rem 0 0;
  border: 2px solid rgba(129, 218, 182, 0.527);
  border-radius: 40px;
}

.lampMode{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #D1FBDF; */
  box-sizing: border-box;
}
.checkbox {
  position: fixed;
  visibility: hidden;
}

.lib {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transform: scale(1.5);
}

.lib .svg {
  display: inline; 
}

.lib .svg path.onoff {
  animation: updown .4s linear forwards; 
}

.lib .svg path.shine {
  opacity: 1; 
}

.lib .svg path.lamp {
    opacity: 1; 
}

.checkbox:checked + .lib .svg path.onoff {
  opacity: 0.8; 
}

.checkbox:checked + .lib .svg path.shine {
  opacity: 0; 
}

.checkbox:checked + .lib .svg path.lamp {
  opacity: 0; 
}
.svg > path {
  transition: all 0.3s ease;
}

/* .svg {
  display: inline;
}
.onoff {
  opacity: 0.8;
}
.shine {
  opacity: 1;
}
.lamp {
  opacity: 1;
} */
@keyframes updown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(1px); }
  100% {
    transform: translateY(0); } }