.tabGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.linkItem {
    padding: 1rem;
    color: rgba(0, 196, 132, 1);
    font-weight: 700;
    font-family: var(--font-mono);
}
.linkItem h2 {
    padding: 1rem;
    color: rgba(0, 196, 132, 1);
    font-weight: 700;
    font-family: var(--font-mono);
}
.projectsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.title {
    width: 100%;
    padding: 1rem;
    color: rgba(0, 196, 132, 1);
    font-weight: 700;
    font-family: var(--font-mono);
}
.projectsList {
    color: rgba(0, 196, 132, 1);
    font-weight: 700;
    font-family: var(--font-mono);
    padding: 0.5rem;
    margin: 0.5rem;

}
.listItem {
    padding: 1rem;
    margin: 2rem;
}
.listItem h2{
    font-size: x-large;
    color: rgba(0, 196, 132, 1);
    font-weight: 700;
    font-family: var(--font-mono);
    

}