.navigation {
    padding: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: space-between;
    font-size: 0.9rem;
    width: 100%;
    z-index: 2;
    position: static;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
        to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
      
    
}
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.pages {
    display: flex;
    flex-direction:row;
    align-items: space-between;
    justify-content: flex-end;
    padding: 1rem;
    
    
}
.pages h2 {
    color: rgba(0, 196, 132, 1);
    font-weight: 700;
    padding: 0.5rem 1rem;
    font-family: var(--font-mono);
}
.pages button {
    visibility: collapse;

  }

.dropdown {
  position: absolute;

}

@media (hover: hover) and (pointer: fine) {
    .logo:hover {
      animation: spin 1s linear infinite;
    }
    .pages h2:hover {
        color: rgba(225, 225, 225, 0.9);
    }
    .pages button:hover {
        color: rgba(225, 225, 225, 0.9);
    }
}

@media (max-width: 1023px) {

    .navigation {
        font-size: 0.8rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 2;
        border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
        background: linear-gradient(
          to bottom,
          rgba(var(--background-start-rgb), 1),
          rgba(var(--callout-rgb), 0.5)
        );
        background-clip: padding-box;
        backdrop-filter: blur(24px);
      }
    
      .pages {
        flex-direction:row-reverse;
        padding: 1rem;
        /* margin-bottom: 0.7rem; */

      }
    
      .pages h2 {
        visibility: hidden;
        /* align-items: flex-end;
        inset: 0 0 auto; */
      }
      .pages button {
        visibility:visible;
        color: rgba(0, 196, 132, 1);
        font-weight: 700;
        padding: 0.5rem 1rem;

      }
    
      .logo {
        align-items: flex-start;
        z-index: 1;
      }
  }
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}