
.logo {
    margin: 0 1rem 0 0;
    border: 4px solid rgba(var(--foreground-rgb), 0.25);
    border-radius: 40px;
}

.lampMode{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #D1FBDF; */
    box-sizing: border-box;
  }
  .checkbox {
    position: fixed;
    visibility: hidden;
  }
  
  .lib {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(2);
  }
  .svg {
    display: inline;
  }
  .svg > path {
    transition: all 0.3s ease;
  }
  .onoff {
    opacity: 0.8;
  }
  .shine {
    opacity: 1;
  }
  .lamp {
    opacity: 1;
  }
  /* .lib:hover {
    background: rgba(209,251,223,.5);
  } */
  
 .checkbox:checked + .lib svg path:not(.shine, .lamp) {
    stroke: #020405;
  }
 .checkbox:checked + .lib svg path.onoff {
    animation: updown 0.4s linear forwards;
  }
 .checkbox:checked + .lib svg path.shine {
    opacity: 0;
  }
 .checkbox:checked + .lib svg path.lamp {
    opacity: 0;
  }
  
  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* @media (hover: hover) and (pointer: fine) {
    .logo:hover {
    }
} */

/* @media (max-width: 1023px) {
  } */

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
@keyframes slide-left {
  from { 
    width: 0; 
    opacity: 0;
  } to { 
    width:40%; 
    opacity: 1;
  }
}
@keyframes slide-right {
  from { 
    transform: translateX(-100%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from { 
    transform: translateY(0);
    height: 90%;
  } to {
    transform: translateY(-50%);
    height: 120%;
  }
}
