:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 225, 225, 225;
  --background-start-rgb:17, 24, 55;
  --background-end-rgb: 7, 14, 35;

  --primary-glow: radial-gradient(
    circle 500px at center, 
    #112941 230px, 
    rgba(93, 185, 188, 0.52) 300px, 
    #00E2CB 307px, 
    rgba(51, 72, 80, 0.8) 310px, 
    rgba(7, 18, 43, 0.5) 410px,
    rgba(7, 18, 43, 0) 460px
    );
  /* conic-gradient(
    from 180deg at 50% 50%,
    #00E2CB 0deg,
    #5DB9BC 55deg,
    #175C78 120deg,
    #111837 160deg,
    transparent 360deg
  ); */
  --secondary-glow: radial-gradient(
    circle 500px at center, 
    #112941 230px, 
    rgba(93, 185, 188, 0.52) 300px, 
    #00E2CB 307px, 
    rgba(51, 72, 80, 0.8) 310px, 
    rgba(7, 18, 43, 0.5) 410px,
    rgba(7, 18, 43, 0) 460px
    );

  --tile-start-rgb: 23, 92, 120;
  --tile-end-rgb: 17, 41, 65;
  --tile-border: conic-gradient(
    #5DB9BC80,
    #5DB9BC40,
    #5DB9BC30,
    #5DB9BC20,
    #5DB9BC10,
    #5DB9BC10,
    #5DB9BC80
  );

  --callout-rgb: 23, 92, 120;
  --callout-border-rgb: 179, 221, 193;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 225, 225, 225;
    --background-start-rgb:17, 24, 55;
    --background-end-rgb: 7, 14, 35;

    --primary-glow: radial-gradient(
      circle 500px at center, 
      #112941 230px, 
      rgba(93, 185, 188, 0.52) 300px, 
      #00E2CB 307px, 
      rgba(51, 72, 80, 0.8) 310px, 
      rgba(7, 18, 43, 0.5) 410px,
      rgba(7, 18, 43, 0.1) 460px
      );
  
    --secondary-glow: radial-gradient(
      circle 500px at center, 
      #112941 230px, 
      rgba(93, 185, 188, 0.52) 300px, 
      #00E2CB 307px, 
      rgba(51, 72, 80, 0.8) 310px, 
      rgba(7, 18, 43, 0.5) 410px,
      rgba(7, 18, 43, 0.1) 460px
      );
    /* linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    ); */

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
